<div class="container">
  <h1 class="text-center"><%= @album.name %></h1>
  <p class="list-group-item-text">
    <%= @album.artists.map {|a| a.name}.join ", " %>
  </p>
  <p class="list-group-item-text">
    <%= @album.description %>
  </p>
  <p class="list-group-item-text">
    <%= @album.release_date %>
  </p>
  <div class="list-group">
    <% @songs.each do |song| %>
      <div class="list-group-item list-group-item-action song-link" id=<%= "#{song.id}"%>>
        <% if @editing %>
          <%= link_to song.name, edit_song_url(song), class: "list-group-item-heading" %>
        <% elsif @deleting %>
          <%= link_to song.name, song_url(song), method: 'delete',  class: "list-group-item-heading", data: { confirm: 'Are you sure?'} %>
        <% else %>
          <%= link_to song.name, song_url(song), class: "list-group-item-heading" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @songs.count > 0 %>
    <%= button_to "High Quality Download",  album_download_path(@album, quality: "high"), class: "btn btn-primary", id: "high-album-download" %>
    <%= button_to "Low Quality Download",  album_download_path(@album, quality: "low"), class: "btn btn-primary", id: "low-album-download" %>
  <% end %>
</div>
