<div class="list-group-item list-group-item-action playlist-link" id=<%= "#{playlist.id}"%>>
  <% if local_assigns[:editing] %>
    <%= link_to playlist.name, edit_playlist_url(playlist), class: "list-group-item-heading" %>
  <% elsif local_assigns[:deleting] %>
    <%= link_to playlist.name, playlist_url(playlist), method: 'delete',  class: "list-group-item-heading", data: { confirm: 'Are you sure?'} %>
  <% else %>
    <%= link_to playlist.name, playlist_url(playlist), class: "list-group-item-heading" %>
  <% end %>
  <div class="playlist-details" style="display: none;" id=<%= "#{playlist.id}" %>>
     <button type="button" class="btn btn-secondary share">Share</button>
  </div>
</div>
